<div class="col-xs-12 col-md-12">
	<div class="row">
		<section class="copyrights">
		<div class="container">
			<div class="row">
				<div class="col-md-8 footerLink">
					<p>© Wordpress Hyper &nbsp;&nbsp;&nbsp;&nbsp;
            					<a class="autoRenderLink" href="/" >Posts</a>&nbsp;&nbsp;&nbsp;&nbsp;
					</p>
				</div>
				<div class="col-md-4">
					<p class="text-right">			
						<a href="https://www.facebook.com/" class="copyrights-share" target="_blank">
							<i class="fa fa-facebook"></i>
						</a>
						
						<a href="https://www.instagram.com/" class="copyrights-share" target="_blank">
							<i class="fa fa-instagram"></i>
						</a>	
						
						<a href="https://twitter.com/" class="copyrights-share" target="_blank">
							<i class="fa fa-twitter"></i>
						</a>
						<a href="/login" class="copyrights-share">
							<i class="fa fa-user-circle"></i>
						</a>          										
					</p>
				</div>
			</div>
		</div>
</div>
</div>
</section>
<script id="contentJson" type="json">
{{{contentJson}}}
</script>
