<div class="container">
	<div class="row">
		<div class="col-md-9 whitebgsection">
			<div class="chometitle">
			  <h2>Recent posts</h2>
			</div>
			<section>
				<div class="homecontainer">
			  {{#posts}}
			  {{> post_summary}}
			  {{/posts}}
			  </div>
			</section>
		</div>
	</div>
</div>