<div class="container">
	<div class="row">
		<div class="col-md-9 whitebgsection">
			<div class="chometitle">
			  <h2>{{post.post_title}}</h2>
			</div>
			<section>
				<div class="homecontainer">
			  {{post.post_content}}
			  </div>
			</section>
		</div>
	</div>
</div>